@import "tailwindcss";


:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --gradient-darkblue-hori: linear-gradient(-20deg,#032C4C 55% ,#01689A 100% );
  --gradient-darkblue-ver: linear-gradient(150deg,#032C4C 60% ,#01689A 100% );
}

@theme inline {
  /* --breakpoint-xl : 1280;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-tajawal: var(--font-tajawal); */
  
}

@media (prefers-color-scheme: light) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tajawal), sans-serif; 
}
