@import "tailwindcss";


:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --gradient-darkblue-hori: linear-gradient(-20deg,#032C4C 55% ,#01689A 100% );
  --gradient-darkblue-ver: linear-gradient(150deg,#032C4C 60% ,#01689A 100% );
  --graylight: #8196A6;
  --graytext: #2E2F2F;
  --buttonColor:#1786D9;
}
.bg-grad-vertical {
  background: var(--color-graddarkblueVer);
}

.bg-grad-horizontal {
  background: var(--color-graddarkblueHori);
}
@theme {
  /* --breakpoint-xl : 1280;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-tajawal: var(--font-tajawal); */
  --color-graddarkblueVer:linear-gradient(150deg,#032C4C 60% ,#01689A 100% );
  --color-graddarkblueHori:  linear-gradient(-20deg,#032C4C 55% ,#01689A 100% );
  --color-graylight: var(--graylight);
  
}

@media (prefers-color-scheme: light) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tajawal), sans-serif; 
}
